body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.content-wraper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qa-wraper {
    width: 70%;
}

.btn {
    margin: 5px;
    width: 100%;
    height: 50px;
}

.range-wraper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 20%;
    height: 100%;
}

@media (max-width: 767px) {
    .content-wraper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .range-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        height: 30%;
        position: fixed;
        bottom: 0;
    }

    
    .btn-success {
        position: relative;
        right: 15px;
    }
    
    .btn {
        width: 80vw;
        height: 50px;
    }
}